@model PersonUpdateRequest
@{
    ViewBag.Title = "Update Person";
}
<a asp-controller="Persons" asp-action="Index" class="link-hover">Back to home</a>
<h2>Update Person</h2>
@if (ViewBag.Errors != null)
{
    <div class="w-50 text-red ml">
        <ul>
            @foreach (var error in ViewBag.Errors)
            {
                <li class="ml">@error</li>
            }
        </ul>
    </div>
}
@* <div class="text-red" asp-validation-summary="All"></div> *@
<div class="w-50">
    <form method="post" asp-controller="Persons" asp-action="Edit" class="mt">
        <input type="hidden" asp-for="PersonId"/>
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" asp-for="PersonName">Person Name</label>
            </div>
            <div class="flex-1">
                <input class="form-input" asp-for="PersonName"/>
                <span asp-validation-for="PersonName" class="text-red"></span>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" asp-for="Email">Email</label>
            </div>
            <div class="flex-1">
                <input class="form-input" asp-for="Email"/>
                <span asp-validation-for="Email" class="text-red"></span>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" asp-for="DateOfBirth">Date of Birth</label>
            </div>
            <div class="flex-1">
                <input class="form-input" asp-for="DateOfBirth"/>
                <span asp-validation-for="DateOfBirth" class="text-red"></span>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" asp-for="Gender">Gender</label>
            </div>
            <div class="flex-1">
                @{
                    string[] genders = Enum.GetNames(typeof(GenderOptions));
                }
                @foreach (string gender in genders)
                {
                    <input class="ml" asp-for="Gender" type="radio" value="@gender"/>
                    <label for="@gender">@gender</label>
                }
                <span asp-validation-for="Gender" class="text-red"></span>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" asp-for="CountryId">Country</label>
            </div>
            <div class="flex-1">
                <select class="form-input" asp-for="CountryId" asp-items="@ViewBag.Countries">
                    <option value="">Select your country</option>
                </select>
                <span asp-validation-for="CountryId" class="text-red"></span>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" asp-for="Address">Address</label>
            </div>
            <div class="flex-1">
                <input class="form-input" asp-for="Address"/>
                <span asp-validation-for="Address" class="text-red"></span>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <input asp-for="ReceiveNewsLetters" value="true"/>
                <label class="form-label" asp-for="ReceiveNewsLetters">Receive News Letters</label>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back" type="submit">Update</button>
            </div>
        </div>
    </form>
</div>
@section validationScripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery.validator.unobtrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}