@model PersonUpdateRequest
@{
    ViewBag.Title = "Update Person";
}
<a asp-controller="Persons" asp-action="Index" class="link-hover">Back to home</a>
<h2>Update Person</h2>
@if (ViewBag.Errors != null)
{
    <div class="w-50 text-red ml">
        <ul>
            @foreach (var error in ViewBag.Errors)
            {
                <li class="ml">@error</li>
            }
        </ul>
    </div>
}
@* <div class="text-red" asp-validation-summary="All"></div> *@
<div class="w-50">
    <form method="post" asp-controller="Persons" asp-action="Edit" class="mt">
        <input type="hidden" asp-for="PersonId"/>
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" asp-for="PersonName">Person Name</label>
            </div>
            <div class="flex-1">
                <input class="form-input" asp-for="PersonName"/>
                <span asp-validation-for="PersonName" class="text-red"></span>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" asp-for="Email">Email</label>
            </div>
            <div class="flex-1">
                <input class="form-input" asp-for="Email"/>
                <span asp-validation-for="Email" class="text-red"></span>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" asp-for="DateOfBirth">Date of Birth</label>
            </div>
            <div class="flex-1">
                <input class="form-input" asp-for="DateOfBirth"/>
                <span asp-validation-for="DateOfBirth" class="text-red"></span>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" asp-for="Gender">Gender</label>
            </div>
            <div class="flex-1">
                @{
                    string[] genders = Enum.GetNames(typeof(GenderOptions));
                }
                @foreach (string gender in genders)
                {
                    <input class="ml" asp-for="Gender" type="radio" value="@gender"/>
                    <label for="@gender">@gender</label>
                }
                <span asp-validation-for="Gender" class="text-red"></span>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" asp-for="CountryId">Country</label>
            </div>
            <div class="flex-1">
                <select class="form-input" asp-for="CountryId" asp-items="@ViewBag.Countries">
                    <option value="">Select your country</option>
                </select>
                <span asp-validation-for="CountryId" class="text-red"></span>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" asp-for="Address">Address</label>
            </div>
            <div class="flex-1">
                <input class="form-input" asp-for="Address"/>
                <span asp-validation-for="Address" class="text-red"></span>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <input asp-for="ReceiveNewsLetters" value="true"/>
                <label class="form-label" asp-for="ReceiveNewsLetters">Receive News Letters</label>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back" type="submit">Update</button>
            </div>
        </div>
    </form>
</div>